body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#word-container {
    max-width: 400px;
    margin: 50px auto;
}

h1 {
    color: #333;
}

#word-display {
    font-size: 24px;
    margin-bottom: 20px;
}

#guess-input {
    padding: 8px;
    text-transform: uppercase;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
}

#letras-usadas {
    margin-top: 10px;
}

#intentos-restantes {
    margin-top: 10px;
}
